<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a>
                <i class="fa fa-dashboard"> <span>Dashboard</span></i>
            </a>
        </li>

        <li class="treeview">
            <a href>
                <i class="fa fa-edit"> <span>Cadastros</span></i>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu">
                <li>
                    <a><i class="fa fa-usd"> Ciclo de Pagamentos</i> </a>
                </li>
            </ul>
        </li>
    </ul>
</section>