<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a ui-sref="dashboard">
                <i class="fa fa-dashboard"> <span style="padding-left: 5px">Dashboard</span></i>
            </a>
        </li>

        <li class="treeview">
            <a href>
                <i class="fa fa-edit"> <span style="padding-left: 5px">Cadastros</span></i>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu">
                <li>
                    <a ui-sref="billingCycle"><i class="fa fa-usd"> <span style="padding-left: 5px">Ciclo de Pagamentos</span></i> </a>
                </li>
            </ul>
        </li>
    </ul>
</section>