<div role="form">
    <div class="box-body">
        <field grid="12 6 4" id="name" label="Nome" placeholder="Informe o nome" model="bcCtrl.billingCycle.name" readonly="bcCtrl.tabDelete"></field>
        <field grid="12 6 4" id="month" label="Mês" placeholder="Informe o mês" type="number" model="bcCtrl.billingCycle.month" readonly="bcCtrl.tabDelete"></field>
        <field grid="12 6 4" id="year" label="Ano" placeholder="Informe o ano" type="number" model="bcCtrl.billingCycle.year" readonly="bcCtrl.tabDelete"></field>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-if="bcCtrl.tabCreate" ng-click="bcCtrl.create()">Incluir</button>
        <button class="btn btn-info"    ng-if="bcCtrl.tabUpdate">Alterar</button>
        <button class="btn btn-danger"  ng-if="bcCtrl.tabDelete" ng-click="bcCtrl.delete()">Excluir</button>
        <button class="btn btn-default" ng-click="bcCtrl.refresh()">Cancelar</button>
    </div>
</div>